
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1543995091930') format('truetype')}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hd-icon-index-arrowdown:before { content: "\e61a"; }

.hd-icon-index-add:before { content: "\e600"; }

.hd-icon-index-border:before { content: "\e601"; }

.hd-icon-index-chooseb:before { content: "\e602"; }

.hd-icon-index-cut:before { content: "\e603"; }

.hd-icon-index-datel:before { content: "\e604"; }

.hd-icon-index-delete:before { content: "\e605"; }

.hd-icon-index-editionn:before { content: "\e606"; }

.hd-icon-index-editions:before { content: "\e607"; }

.hd-icon-index-empty:before { content: "\e608"; }

.hd-icon-index-dateb:before { content: "\e609"; }

.hd-icon-index-enumb:before { content: "\e60a"; }

.hd-icon-index-enuml:before { content: "\e60b"; }

.hd-icon-index-index:before { content: "\e60c"; }

.hd-icon-index-me:before { content: "\e60d"; }

.hd-icon-index-indexs:before { content: "\e60e"; }

.hd-icon-index-news:before { content: "\e60f"; }

.hd-icon-index-open:before { content: "\e610"; }

.hd-icon-index-shut:before { content: "\e611"; }

.hd-icon-index-outline:before { content: "\e612"; }

.hd-icon-index-statisticsn:before { content: "\e613"; }

.hd-icon-index-preview:before { content: "\e614"; }

.hd-icon-index-statisticss:before { content: "\e615"; }

.hd-icon-index-writen:before { content: "\e616"; }

.hd-icon-index-writes:before { content: "\e617"; }

.hd-icon-index-writes1:before { content: "\e618"; }

